<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.5/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.5/js/bootstrap-dialog.min.js"></script>


    <title>Users</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Teachers Evaluator</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/faculties">Faculties</a></li>
            <li><a href="/departments">Departments</a></li>
            <li><a href="#">Teachers</a></li>
            <li class="active"><a href="#">Users</a></li>
            <li><a href="/notifications">Notifications</a></li>
        </ul>
    </div>
</nav>
<div class="container" style="margin-top:16px">
    <!--Table fragment-->
    <div class="panel panel-default"  id="resultTable">
        <div class="panel-heading"><h2>Users</h2></div>
        <div class="panel-body">
            <div style="height: 300px; overflow: auto">
                <table class="table table-fixed">
                    <thead>
                    <tr>
                        <th class="col-xs-2"> Id </th>
                        <th class="col-xs-2"> Username </th>
                        <th class="col-xs-2"> Password </th>
                        <th class="col-xs-2"> Gender </th>
                        <th class="col-xs-2"> Department Name </th>
                        <th class="col-xs-2"> User roles </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${users.empty}">
                        <td colspan="2"> No users available </td>
                    </tr>

                    <th:block th:each="user : ${users}">
                        <tr >
                            <td class="col-xs-2">
                                <span th:text="${user.userId}">
                                </span>
                            </td>
                            <td class="col-xs-2">
                                <span th:text="${user.username}"/>
                            </td>
                            </td>
                            <td class="col-xs-2">
                                <span th:text="${user.password}"/>
                            </td>
                            <td class="col-xs-2">
                                <span th:text="${user.gender}"/>
                            </td>
                            <td class="col-xs-2">
                                <span th:text="${user.department.deptName}"/>
                            </td>
                            <td class="col-xs-2">
                                <th:block th:each="role : ${user.userRoles}">
                                    <span th:text="${role}"/>
                                </th:block>
                            </td>
                            <!--Update button-->

                            <td class="col-xs-1"  sec:authorize="isAuthenticated()">
                                <a th:id = "'update_user' + ${user.userId}" th:href = "@{/users/findOne(id=${user.userId})}"
                                   class="btn btn-light">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>

                            <!--Delete button-->

                            <td class="col-xs-1"  sec:authorize="isAuthenticated()">
                                <a th:href="@{/users/delete_user(userId=${user.userId})}" class="btn btn-danger">
                                    <i class="fa fa-trash"></i></a>
                            </td>

                        </tr>
                    </th:block>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row  justify-content-center"  sec:authorize="isAuthenticated()">
        <div class="form-row text-center">
            <div class="col-sm-6 ">
                <button class="btn btn-primary" style="width:50%" id="buttonNew" th:href = "@{/users/findOne(id='-1')}">
                    Add new
                </button>
            </div>
            <div class="col-sm-6 ">
                <form  action="#" th:action="@{/users/}" id="searchForm" class="form-inline">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input class="form-control form-control-sm ml-3 w-75" type="text" name="filter" placeholder="Search" aria-label="Search"
                           th:value="${filter}">
                    <button type="submit" class="btn btn-primary" id="searchButton">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>
</div>

<form th:action="@{/users/update_user}" method="post">
    <div class="myModal">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body " style="height: auto">
                        <div class="form-group">
                            <input type="hidden"  id="userId" name="userId"/>
                            <input type="hidden"  id="active" name="active"/>

                            <label for="username" class="col-form-label">Username:</label>
                            <br>
                            <input type="text" class="form-control" id="username" name="username" value=""/>
                            <br>
                            <label for="gender" class="col-form-label">Gender:</label>
                            <input type="text" class="form-control" id="gender" name="gender" readonly value=""/>
                            <br>
                            <label for="selectGender">Select gender</label>
                            <br>
                            <select class="form-control col-sm-5 " id="selectGender">
                                <option value="0">
                                    <span >Male</span>
                                </option>
                                <option value="1">
                                    <span >Female</span>
                                </option>
                            </select>
                            <br>
                            <label for="password" class="col-form-label">Password:</label>
                            <br>
                            <input type="text" class="form-control" id="password" name="password" value=""/>
                            <label for="deptName" class="col-form-label">Dept Name:</label>
                            <br>
                            <input type="text" class="form-control" id="deptName" readonly name="deptName"
                                   th:value="${departments[0].deptName}"/>
                            <br>
                            <label for="sel1">Select dept name:</label>
                            <select class="form-control col-sm-5 " id="sel1">
                                <th:block th:each="dept : ${departments}">
                                    <option th:value="${dept.deptName}">
                                        <span th:text="${dept.deptName}"/>
                                    </option>
                                </th:block>
                            </select>
                            <br>
                            <br>
                            <br>
                            <label  class="col-form-label">Roles:</label>
                            <br>
                                <th:block th:each="role : ${roles}">
                                    <input th:id = "'checkbox_' + ${role}" th:name="${role}" type="checkbox" >
                                    <label th:text="${role}" th:id="'label_checkbox_' + ${role}" />
                                </th:block>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary eBtn" value="Save"></input>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

</body>

<script th:inline="javascript">
    /*<![CDATA[*/

    var theList = /*[[${users}]]*/ 'val'
    var ids = [];
    for(i = 0;i<theList.length;i++){
        ids[i] =  'update_user' + theList[i].userId;
    }

    //Click callbacks initialization
    $("#buttonNew").on('click',function () {
        event.preventDefault()
        var ref = $(this).attr('href');
        $.get(ref,function (user,status) {
            $('.myModal #exampleModalLabel').text("Insert")
            $('.myModal #userId').val(user.userId)
        });
        $('#exampleModal').modal();
    })

    $(function () {
        $.each(ids,function (index,value) {
            var currentButtonId = '#' + value
            $(currentButtonId).on('click',(function (){
                event.preventDefault()
                var ref = $(this).attr('href');
                $.get(ref,function (user,status) {

                    var roles = user.userRoles
                    $.each(roles,function (index,value) {
                        var checkboxStr = '.myModal #checkbox_'+value;
                        var labelStr = '.myModal #label_checkbox_'+value;
                           if(value==="USER"){
                               $(labelStr).hide()
                               $(checkboxStr).hide()
                           }

                            $(checkboxStr).prop('checked',true)
                    })

                    $('.myModal #exampleModalLabel').text("Update")
                    $('.myModal #username').val(user.username)
                    $('.myModal #gender').val(user.gender)
                    $('.myModal #userId').val(user.userId)
                    $('.myModal #password').val(user.password)
                    $('.myModal #active').val(user.active)
                    $('.myModal #deptName').val(user.department.deptName)
                });
                $('#exampleModal').modal();
            }))
        })
    })

    $(".myModal #sel1").change(function () {
        $('.myModal #deptName').val($('#sel1 :selected').val())
    })
    $(".myModal #selectGender").change(function () {
        $('.myModal #gender').val($('#selectGender :selected').val())
    })
    /*]]>*/

    function containsObject(obj, list) {
        var i;
        for (i = 0; i < list.length; i++) {
            if (list[i] === obj) {
                return true;
            }
        }
        return false;
    }
</script>

</html>